# 11. タブをスペースに置換

タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [ ]:
# 問題11: タブをスペースに置換

# Pythonでタブをスペースに置換
def tab_to_space(file_path, output_path):
    """タブをスペースに置換する関数
    
    Args:
        file_path: 入力ファイルのパス
        output_path: 出力ファイルのパス
        
    Returns:
        置換した行数
    """
    count = 0
    with open(file_path, 'r', encoding='utf-8') as f_in, \
         open(output_path, 'w', encoding='utf-8') as f_out:
        for line in f_in:
            if '\t' in line:
                count += 1
            # タブをスペースに置換
            new_line = line.replace('\t', ' ')
            f_out.write(new_line)
    return count

# サンプルファイルのパス（実際の環境に合わせて変更してください）
file_path = '../data/popular-names.txt'
output_path = '../data/popular-names-space.txt'

# タブをスペースに置換
try:
    replaced_lines = tab_to_space(file_path, output_path)
    print(f"Pythonで置換: {replaced_lines}行でタブが置換されました")
except FileNotFoundError:
    print(f"ファイル {file_path} が見つかりません。")
    print("このノートブックを実行する前に、必要なデータファイルをダウンロードしてください。")
    print("データファイルは https://nlp100.github.io/data/popular-names.txt からダウンロードできます。")

In [ ]:
# UNIXコマンドでの確認（Jupyter上で実行）
# sedコマンドを使用
!sed "s/\t/ /g" ../data/popular-names.txt > /tmp/sed_result.txt 2>/dev/null && echo "sedコマンドで置換完了" || echo "sedコマンドでの置換に失敗しました"

In [ ]:
# trコマンドを使用
!tr "\t" " " < ../data/popular-names.txt > /tmp/tr_result.txt 2>/dev/null && echo "trコマンドで置換完了" || echo "trコマンドでの置換に失敗しました"

In [ ]:
# expandコマンドを使用
!expand -t 1 ../data/popular-names.txt > /tmp/expand_result.txt 2>/dev/null && echo "expandコマンドで置換完了" || echo "expandコマンドでの置換に失敗しました"

## 解説

この問題では、ファイル内のタブ文字をスペース文字に置換する方法を学びます。

### Pythonでの実装

Pythonでタブをスペースに置換するには、`replace()`メソッドを使用します。この実装では、入力ファイルを1行ずつ読み込み、タブ文字（`\t`）をスペース文字（` `）に置換して、新しいファイルに書き込んでいます。

### UNIXコマンドでの確認

UNIXコマンドでは、以下の方法でタブをスペースに置換できます：

1. **sedコマンド**：
   ```bash
   sed "s/\t/ /g" input.txt > output.txt
   ```
   `s/\t/ /g`は、タブ文字をスペースに置換するための置換パターンです。

2. **trコマンド**：
   ```bash
   tr "\t" " " < input.txt > output.txt
   ```
   `tr`コマンドは、文字の変換（translate）を行います。

3. **expandコマンド**：
   ```bash
   expand -t 1 input.txt > output.txt
   ```
   `expand`コマンドは、タブをスペースに展開するためのコマンドです。`-t 1`オプションは、タブ1文字をスペース1文字に展開することを指定します。

### 注意点

- ファイルが存在しない場合のエラー処理を行っています。
- 大きなファイルでも効率的に処理できるように、ファイルを一度に全て読み込むのではなく、1行ずつ処理しています。
- 文字エンコーディングを指定して、異なる言語や文字セットのファイルも正しく処理できるようにしています。